body, html {
  height: 100% !important;
}

#login-container{
  position: relative;
  height: 100% !important;
}

#login-container > div{
  width: 50%;
  float: left;
}


.bg-login {
  /* border: solid 1px #979797; */
  background-color: #2b7fff;
  background-image: conic-gradient(#0454b8, #1361c3 55%, #357cd5 97%, #0454b8), linear-gradient(to bottom, #d8d8d8, #d8d8d8);
}

.login-bg{
  background-image:url("../../assets/img/login.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right: 0px;
}

.form-container{
width: 388px;
height:auto;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}



.form-bg {
width: 388px;
border-radius: 8px;
box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
background-color: rgba(251, 251, 251, 0.5);
padding-top:22px !important;
padding-left:29px !important;
padding-right:29px !important;
padding-bottom:0px !important;
}

.rectangle {
  position: relative;
  height: 100% !important;
}

.mat-form-field-wrapper{
  margin-bottom: 0px !important;
  padding-bottom: 33px  !important;
}


.mobile-welcome-text{
  display: none;
}


@media (min-width:320px) and (max-width:768px) {
    
  .login-bg{
    display: none !important;
  }

  .rectangle{
    width: 100% !important;
  }

  .is-Mobile-login-bg{
    background-image:url("../../assets/img/login.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
     }

     .mobile-welcome-text{
      font-size: 32px;
      color: #fff;
      text-align: center;
      font-weight: bold;
      margin-bottom: 25px;
      text-shadow: 1px 2px #763647;
      display: block;
     }
     .copyright{
      display: none;
     }
  
}

