<div class="main-content">
  <div class="container-fluid">
<!--     <div class="row">
      <div class="col-md-5 col-lg-5 col-sm-5">
        <div class="titleHead float-left">SEARCH DOCUMENT</div>
      </div>
 
      <div class="col-md-12 col-lg-12 col-sm-12 mt-2">
         <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search By Unique Id">
                    <i class="material-icons search-icons">search</i>
                </div>
            </form>
       </div>
    </div> -->
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats card_one"> 
                  <div class="card-header card-header-icon">
                      <p class="mb-4">
                           
                      </p>
                     <!--  <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div> -->
                      <p class="card-title float-right">NUMBER OF CLIENTS</p>
                      <h3 class="cardnum float-right">1255 </h3>
                  </div>
                </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats card_two">
                  <div class="card-header card-header-success card-header-icon">
                     <!--  <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div> -->
                      <p class="mb-4">
                           
                      </p>
                      <p class="card-title float-right">DOCUMENTS UPLOAD/ISSUED</p>
                      <h3 class="cardnum float-right">852 </h3>
                  </div>
                <!--   <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div> -->
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats card_three">
                  <div class="card-header card-header-danger card-header-icon">
                      <!-- <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div> -->
                      <p class="mb-4">
                            
                      </p>
                      <p class="card-title float-right">DOCUMENT VIEWS</p>
                      <h3 class="cardnum float-right">340 </h3>
                  </div>
                 <!--  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div>
                  </div> -->
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats card_four">
                  <div class="card-header card-header-info card-header-icon">
                      <!-- <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div> -->
                      <p class="mb-4">
                            
                      </p>
                      <p class="card-title float-right">DOCUMENT SHARED</p>
                      <h3 class="cardnum float-right">218</h3>
                  </div>
                <!--   <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div> -->
              </div>
          </div>
      </div>
   

  </div>
</div>



